<div class="container" id="unique">
    <div class="row">
        <div class="col-12">
            <p class="fs-2 title-font text-center mt-5" style="color: #ED5224;" data-aos="fade-up" data-aos-duration="1000">WHAT MAKES US UNIQUE</p>
            <p class="body-font body-color text-center lh-lg fw-light fs-6 fs-md-5 fs-lg-6 mt-3" data-aos="fade-up" data-aos-duration="1500">
                Business Engines was founded in 2021 to operate in Egypt to build value-added solutions on the region's market
                <span class="d-none d-md-inline"><wbr></span>,
                <br class="d-none d-md-inline">
                our main business sector is Fintech and integrating technology into the products of financial solutions firms
                <br class="d-none d-md-inline">
                to improve their use and delivery to consumers.
            </p>
        </div>
    </div>

    <div class="row align-items-center mt-5">
        <div class="col-lg-6 col-md-12 unique-text" data-aos="fade-right" data-aos-duration="1500">
            <div class="vission mb-4">
                <p>
                    <i class="fa-regular fa-clone" style="color: #ED5224;"></i>
                    <span class="text-white title-font fs-4">Vision</span>
                </p>
                <p class="m-3 body-color body-font fs-6">
                    To be the first fintech company in Egypt and then World Wide with our standards and values and to help all companies
                    to transfer their daily routine paperwork into real digital transformation paperless amusing work.
                </p>
            </div>
            <div class="mission">
                <p>
                    <i class="fa-regular fa-clone" style="color: #ED5224;"></i>
                    <span class="text-white title-font fs-4">Mission</span>
                </p>
                <p class="m-3 body-color body-font fs-6">
                    To gain the trust and confidence of our clients through crystal clear communication, reasonable and
                    objective guidance, together with a genuine and palpable concern for their long-term and comprehensive financial growth.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 unique-photo mt-4 mt-lg-0 text-center text-lg-start" data-aos="fade-left" data-aos-duration="1500">
            <img src="../../../assets/images/home/unique.png" alt="what_makeus_us_unique" class="img-fluid">
        </div>
    </div>
</div>